@model ProjetSupHelp.Models.SupportDemand

@{
    ViewBag.Title = "Details";
}



<h2>Details</h2>

<div>
    <h4>Demande de soutien :</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BoosterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoosterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DemandedCourses)
        </dt>

        <dd>
            @foreach (var course in Model.DemandedCourses)
            {
                switch (course.Year)
                {
                    case ProjetSupHelp.Models.Course.SupinfoYear.ASc1:
                        <span class='label label-success'>@Html.DisplayFor(modelCourse => course.Label)</span>
                        break;
                    case ProjetSupHelp.Models.Course.SupinfoYear.ASc2:
                        <span class='label label-primary'>@Html.DisplayFor(modelCourse => course.Label)</span>
                        break;
                    case ProjetSupHelp.Models.Course.SupinfoYear.BSc3:
                        <span class='label label-warning'>@Html.DisplayFor(modelCourse => course.Label)</span>
                        break;
                    case ProjetSupHelp.Models.Course.SupinfoYear.MSc1:
                        <span class='label label-info'>@Html.DisplayFor(modelCourse => course.Label)</span>
                        break;
                    case ProjetSupHelp.Models.Course.SupinfoYear.MSc2:
                        <span class='label label-danger'>@Html.DisplayFor(modelCourse => course.Label)</span>
                        break;
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availabilities)
        </dt>

        <dd>
            @foreach (var av in Model.Availabilities)
            {
                @Html.DisplayFor(modelAv => av.Day)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campus)
        </dt>

        <dd>
            @foreach (var campus in Model.Campus)
            {
                @Html.DisplayFor(modelAv => campus.City)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>

<a class="btn btn-group-lg btn-block btn-default" href="https://outlook.office.com/owa/?path=/mail/action/compose&to=@User.Identity.Name&subject=Reply+:+Demande+de+soutien&body=Je+suis+intéressé+par+du+soutien+:)" target="_blank">Répondre à la demande</a>


