@model ProjetSupHelp.Models.SupportDemand

@{
    ViewBag.Title = "Details";
}



<h2>Details</h2>

<div>
    <h4>Demande de soutien :</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BoosterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoosterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DemandedCourses)
        </dt>

        <dd>
            @foreach (var course in Model.DemandedCourses)
            {
                @Html.DisplayFor(modelCourse => course.Label)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availabilities)
        </dt>

        <dd>
            @foreach (var av in Model.Availabilities)
            {
                @Html.DisplayFor(modelAv => av.Day)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campus)
        </dt>

        <dd>
            @foreach (var campus in Model.Campus)
            {
                @Html.DisplayFor(modelAv => campus.City)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>

<a class="btn" href="https://outlook.office.com/owa/?path=/mail/action/compose&to=@User.Identity.Name&subject=Reply+:+Proposition+de+soutien&body=Je+suis+intéressé+par+ta+proposition+de+soutien+:)" target="_blank">Répondre à la demande</a>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

