@model IEnumerable<ProjetSupHelp.Models.SupportDemand>

@{
    ViewBag.Title = "Index";
}

<h2>Demandes en cours</h2>


@using (Html.BeginForm("Index", "Proposition", FormMethod.Get))
{
    <p>
        Rechercher: @Html.TextBox("searchString")
        <input class="btn btn-default" type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BoosterID)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.DemandedCourses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Campus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Availabilities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BoosterID)
            </td>
           
            <td>
                @foreach (var course in item.DemandedCourses)
                {
                    switch (course.Year)
                    {
                        case ProjetSupHelp.Models.Course.SupinfoYear.ASc1:
                            <span class='label label-success'>@Html.DisplayFor(modelCourse => course.Label)</span>
                            break;
                        case ProjetSupHelp.Models.Course.SupinfoYear.ASc2:
                            <span class='label label-primary'>@Html.DisplayFor(modelCourse => course.Label)</span>
                            break;
                        case ProjetSupHelp.Models.Course.SupinfoYear.BSc3:
                            <span class='label label-warning'>@Html.DisplayFor(modelCourse => course.Label)</span>
                            break;
                        case ProjetSupHelp.Models.Course.SupinfoYear.MSc1:
                            <span class='label label-info'>@Html.DisplayFor(modelCourse => course.Label)</span>
                            break;
                        case ProjetSupHelp.Models.Course.SupinfoYear.MSc2:
                            <span class='label label-danger'>@Html.DisplayFor(modelCourse => course.Label)</span>
                            break;
                    }
                }
            </td>
            <td>
                @foreach (var campus in item.Campus)
                {
                    @Html.DisplayFor(modelCampus => campus.City)
                }
            </td>
            <td>
                @foreach (var availabilities in item.Availabilities)
                {
                    switch (availabilities.Day)
                    {
                        case DayOfWeek.Monday:
                            <span class='label label-default'>Lundi &nbsp;</span>
                            break;
                        case DayOfWeek.Tuesday:
                            <span class='label label-default'>Mardi &nbsp;</span>
                            break;
                        case DayOfWeek.Wednesday:
                            <span class='label label-default'>Mercredi &nbsp;</span>
                            break;
                        case DayOfWeek.Thursday:
                            <span class='label label-default'>Jeudi &nbsp;</span>
                            break;
                        case DayOfWeek.Friday:
                            <span class='label label-default'>Vendredi &nbsp;</span>
                            break;
                        case DayOfWeek.Saturday:
                            <span class='label label-default'>Samedi &nbsp;</span>
                            break;
                        case DayOfWeek.Sunday:
                            <span class='label label-default'>Dimanche &nbsp;</span>
                            break;
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID }) 
            </td>
        </tr>
    }

</table>
