@model IEnumerable<ProjetSupHelp.Models.SupportProposition>

@{
    ViewBag.Title = "Propositions de soutiens ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Propositions de soutiens</h2>
<br />

@using (Html.BeginForm("Index", "Proposition", FormMethod.Get))
{
    <p>
        Rechercher: @Html.TextBox("searchString")
        <input class="btn btn-default" type="submit" value="Search" />
    </p>
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BoosterID)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.SupportedCourses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Campus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Availabilities)
        </th>
        <th>
            @Html.ActionLink("Publication", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BoosterID)
        </td>
        
        <td>
            @foreach (var course in item.SupportedCourses)
            {
                

                switch (course.Year)
                {
                    case ProjetSupHelp.Models.Course.SupinfoYear.ASc1:
                        <span class='label label-success'>@Html.DisplayFor(modelCourse => course.Label)</span>
                        break;
                    case ProjetSupHelp.Models.Course.SupinfoYear.ASc2:
                        <span class='label label-primary'>@Html.DisplayFor(modelCourse => course.Label)</span>
                        break;
                    case ProjetSupHelp.Models.Course.SupinfoYear.BSc3:
                        <span class='label label-warning'>@Html.DisplayFor(modelCourse => course.Label)</span>
                        break;
                    case ProjetSupHelp.Models.Course.SupinfoYear.MSc1:
                        <span class='label label-info'>@Html.DisplayFor(modelCourse => course.Label)</span>
                        break;
                    case ProjetSupHelp.Models.Course.SupinfoYear.MSc2:
                        <span class='label label-danger'>@Html.DisplayFor(modelCourse => course.Label)</span>
                        break;
                }

            }
        </td>
        <td>
            @foreach (var campus in item.Campus)
            {
                            @Html.DisplayFor(modelCampus => campus.City)
            }
        </td>
        <td>
            @foreach (var availabilities in item.Availabilities)
            {
                            @Html.DisplayFor(modelAv => availabilities.Day)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>
